{% load static %}

<script src="{% static 'js/socket.io.js' %}"></script>
<script>
    WEB_SOCKET_SWF_LOCATION = 'inc/WebSocketMain.swf'
    var socket = io.connect('http://45.32.59.138:3000')
    socket.on('connected', function (data) {
        if (data.connected == true) {
          console.log('webpage ready to load with changes in DB')
        }
        socket.emit('ready for data', {})
    })
    socket.on('update', function (data) {
        console.log('Today date: ' + data.today_date.payload)
        console.log('Task just update: ' + data.task_just_updated.payload)
        console.log('Task status: ' + data.task_status.payload)
        console.log('Task log: ' + data.task_log.payload)
        console.log('Task took: ' + data.task_processed_time.payload + ' seconds')
    })
</script>
